<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light"  >
    <span class="navbar-brand mb-0 h1" style="margin: auto" [innerHTML]="client.name"></span>
  </nav>
  <img class="mb-4" [src]="client.background_image_url" width="100%" *ngIf="client.background_image_url">

  <div class="py-5 text-center" *ngIf="client">
    <img class="d-block mx-auto mb-4" [src]="client.logo_url" height="72">
    <h2 [innerHTML]="client.catalog_title"></h2>
    <p class="lead" [innerHTML]="client.catch_phrase"></p>
  </div>

  <div class="row row-cols-1 row-cols-md-2" *ngIf="client && !selectedCategory">
    <div class="col mb-4" *ngFor="let category of client.categories">
      <div class="card">
        <img [src]="category.image_url" class="card-img-top" *ngIf="category.image_url">
        <div class="card-body">
          <h5 class="card-title" [innerHTML]="category.title"></h5>
          <p class="card-text" [innerHTML]="category.description"></p>
          <a class="btn btn-primary btn-lg" role="button" aria-pressed="true" (click)="selectCategory(category)">Voir les produits</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedCategory">
    <button type="button" class="btn btn-outline-primary mb-4" (click)="deselectCategory()">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
      </svg>
    </button>

    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4" *ngFor="let product of selectedCategory.products">
        <div class="card product">
          <img [src]="product.image_url" class="card-img-top" *ngIf="product.image_url">
          <div class="card-body">
            <h5 class="card-title" [innerHTML]="product.title"></h5>
            <p class="card-text" [innerHTML]="product.description"></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let price of product.prices">
              <span [innerHTML]="price.name"></span>
              <span class="price">
                <button type="button" class="btn btn-primary btn-sm">
                  Acheter {{ price.price | number: '1.2-2'}} ({{ client.currency }})
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
