/*
*= require bootstrap
*= require_tree .
*= require_self
*/

.card.product .price {
  float: right;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.products .product-line {
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.products .product-line:last-child {
  border-bottom: none;
}

.products .product {
  float: left;
}

.products .select-quantity {
  line-height: 3;
  text-align: right;
}

.products span.quantity {
  margin: 0 10px;
}

.cart-button {
  position: absolute;
  right: 20px;
  top: 11px;
}
