/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.card.product .price {
  float: right;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.products .product-line {
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.products .product-line:last-child {
  border-bottom: none;
}

.products .product {
  float: left;
}

.products .select-quantity {
  line-height: 3;
  text-align: right;
}

.products span.quantity {
  margin: 0 10px;
}
