/*
*= require bootstrap
*= require_tree .
*= require_self
*/

.card.product .price {
  float: right;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.products .product-line {
  position: relative;
  border-bottom: 1px solid lightgrey;
}

.products .product-line:last-child {
  border-bottom: none;
}

.products .product {
  float: left;
}

.products .select-quantity {
  line-height: 3;
  text-align: right;
}

.products span.quantity {
  margin: 0 10px;
}

body {
  padding-top: 66px;
}

.add-to-cart {
  position: relative;
  overflow: hidden;
}

.add-to-cart svg {
  left: calc(50% - 10px);
  top: calc(50% - 10px);;
  opacity: 0;
  position: absolute;
}

.add-to-cart.added span {
  animation: txt1 1.5s ease-in-out forwards;
}

.add-to-cart.added svg {
  display: block;
  animation: box 1.5s ease-in-out forwards;
}

@keyframes box {
  0%, 10% {
		opacity: 1;
	}
  90% {
    opacity: 1;
  }
  100% {
		opacity: 0;
	}
}

@keyframes txt1 {
	0% {
		opacity: 1;
	}
	10%, 90% {
		opacity: 0;
	}
  100% {
    opacity: 1;
  }
}

.remove-order-item {
  color: #6c757d;
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.remove-order-item:hover {
  color: #dc3545;
}

.payment-logo img {
  max-height: 30px;
  margin-right: 10px;
}
