<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <button type="button" class="btn btn-outline-secondary" (click)="goBack()" *ngIf="displayBack">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
      </svg>
    </button>

    <img [src]="order.logo" *ngIf="order.logo" style="margin: auto; max-height: 50px; max-width: 60%">
    <span class="navbar-brand mb-0 h1" style="margin: auto" *ngIf="!order.logo">{{ order.client_name }}</span>
  </div>
</nav>

<div class="container" *ngIf="order && order.status == 'accepted'">
  <div class="py-5 text-center">
    <h2 [innerHTML]="order.display_thank_you_title"></h2>
    <p class="lead">Numéro de référence: PO-{{ order.id }}<br>
    {{ order.display_thank_you_text }}</p>

    <a class="btn btn-secondary btn-lg mt-4" href="/">Je souhaite faire d'autres achats</a>
  </div>
</div>
<div class="container" *ngIf="order && order.status != 'accepted'">
  <div class="py-5 text-center">
    <h2 [innerHTML]="order.display_title"></h2>
    <p class="lead" [innerHTML]="order.display_description"></p>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="order.status == 'payment_fail'">
    Le paiement a malheureusement été refusé
  </div>

  <div class="row" *ngIf="order.order_items">
    <form class="needs-validation" novalidate method="POST" (submit)="onSubmit($event)">
      <input type="hidden" name="_method" value="put" />
      <input type="hidden" name="authenticity_token" [value]="crsfToken" >
      <div class="col-md-12">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>{{ order.display_cart_title }} {{ order.start_date | date: 'd/M/yy'}}</span>
          <span class="badge badge-secondary badge-pill" [innerHTML]="order.order_items.length"></span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of order.order_items">
            <div>
              <h6 class="my-0"><span [innerHTML]="item.title"></span><span *ngIf="item.category_title"> | </span><span [innerHTML]="item.category_title"></span></h6>
              <small class="text-muted" [innerHTML]="item.description"></small>
              <div class="row" *ngIf="item.order_fields">
                <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;" *ngFor="let field of item.order_fields">
                  <label [for]="field.key" [innerHTML]="field.name"></label>
                  <input [type]="field.type" class="form-control" [id]="field.key" [name]="'order[order_items][' + item.id + '][' + field.key + ']'" [value]="valueFor(item, field.key, field.type)" [required]="field.required" placeholder="" value="" *ngIf="field.type != 'date'">
                  <input class="form-control" placeholder="jj/mm/aaaa" [id]="field.key" [name]="'order[order_items][' + item.id + '][' + field.key + ']'" [value]="valueFor(item, field.key, field.type)" [required]="field.required" bsDatepicker [bsConfig]="{ containerClass: 'theme-default' }" *ngIf="field.type == 'date'">
                </div>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash-circle-fill remove-order-item" viewBox="0 0 16 16" (click)="removeItem(item)">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
              </svg>
            </div>
            <span class="text-muted">{{item.price | number:'1.2-2'}} {{ order.currency }}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{total  | number:'1.2-2'}} {{ order.currency }}</strong>
          </li>
        </ul>
        <hr class="mb-4">
      </div>
      <div class="col-md-12">
        <div *ngIf="order.delivery_fields && order.delivery_fields.length > 0">
          <h4 class="mb-3" [innerHTML]="order.display_delivery_title"></h4>
          <div class="row">
            <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;" *ngFor="let field of order.delivery_fields">
              <label [for]="field.key" [innerHTML]="field.name"></label>
              <input [type]="field.type" class="form-control" [id]="field.key" [name]="'order[' + field.key + ']'" [required]="field.required" placeholder="" value="" *ngIf="field.type != 'select'">
              <select [name]="'order[' + field.key + ']'" [required]="field.required" class="form-control" *ngIf="field.type == 'select'">
                <option value="" disabled [innerHTML]="field.prompt"></option>
                <option [value]="value.key" [innerHTML]="value.value" *ngFor="let value of field.values | keyvalue"></option>
              </select>
            </div>
          </div>
          <hr class="mb-4">
        </div>
        <h4 class="mb-3" [innerHTML]="order.display_address_title"></h4>
        <div class="row">
          <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;" *ngFor="let field of order.invoicing_fields">
            <label [for]="field.key" [innerHTML]="field.name"></label>
            <input [type]="field.type" class="form-control" [id]="field.key" [name]="'order[' + field.key + ']'" [required]="field.required" placeholder="" [value]="orderValueFor(field.key, field.type)">
          </div>
        </div>

        <hr class="mb-4">
        <p class="lead" [innerHTML]="order.display_checkout_text"></p>
        <div class="payment-logo" *ngIf="order.has_online_payment">
          <img src="/twint.svg"><img src="/mastercard.svg"><img src="/visa.svg">
        </div>
        <hr class="mb-4">
        <input class="btn btn-secondary btn-lg btn-block mb-4" type="submit" [value]="order.display_checkout_button">
      </div>
    </form>
  </div>
</div>
