<div class="container" *ngIf="order && order.status == 'accepted'">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" [src]="order.logo" height="72">
    <h2 [innerHTML]="order.display_thank_you_title"></h2>
    <p class="lead" [innerHTML]="order.display_thank_you_text"></p>
  </div>
</div>
<div class="container" *ngIf="order && order.status != 'accepted'">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" [src]="order.logo" height="72">
    <h2 [innerHTML]="order.display_title"></h2>
    <p class="lead" [innerHTML]="order.display_description"></p>
  </div>

  <button type="button" class="btn btn-outline-primary mb-4" (click)="goBack()" *ngIf="displayBack">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"></path>
    </svg>
  </button>
  <div class="row" *ngIf="order.order_items">
    <form class="needs-validation" novalidate method="POST" (submit)="onSubmit($event)">
      <input type="hidden" name="_method" value="put" />
      <input type="hidden" name="authenticity_token" [value]="crsfToken" >
      <div class="col-md-12">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span [innerHTML]="order.display_cart_title"></span>
          <span class="badge badge-secondary badge-pill" [innerHTML]="order.order_items.length"></span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of order.order_items">
            <div>
              <h6 class="my-0"><span [innerHTML]="item.title"></span><span *ngIf="item.category_title"> - </span><span [innerHTML]="item.category_title"></span></h6>
              <small class="text-muted" [innerHTML]="item.description"></small>
              <div class="row" *ngIf="item.order_fields">
                <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;" *ngFor="let field of item.order_fields">
                  <label [for]="field.key" [innerHTML]="field.name"></label>
                  <input [type]="field.type" class="form-control" [id]="field.key" [name]="'order[order_items][' + item.id + '][' + field.key + ']'" [value]="valueFor(item, field.key, field.type)" [required]="field.required" placeholder="" value="" *ngIf="field.type != 'date'">
                  <input class="form-control" placeholder="jj/mm/aaaa" [id]="field.key" [name]="'order[order_items][' + item.id + '][' + field.key + ']'" [value]="valueFor(item, field.key, field.type)" [required]="field.required" bsDatepicker [bsConfig]="{ containerClass: 'theme-default' }" *ngIf="field.type == 'date'">
                </div>
              </div>
            </div>
            <span class="text-muted">{{item.price | number:'1.2-2'}} ({{ order.currency }})</span>
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{total  | number:'1.2-2'}} ({{ order.currency }})</strong>
          </li>
        </ul>
        <hr class="mb-4">
      </div>
      <div class="col-md-12">
        <h4 class="mb-3" [innerHTML]="order.display_address_title"></h4>
        <div class="row">
          <div class="col-sm-12 col-lg-6" style="margin-bottom: 10px;" *ngFor="let field of order.invoicing_fields">
            <label [for]="field.key" [innerHTML]="field.name"></label>
            <input [type]="field.type" class="form-control" [id]="field.key" [name]="'order[' + field.key + ']'" [required]="field.required" placeholder="" value="">
          </div>
        </div>

        <hr class="mb-4">
        <p class="lead" [innerHTML]="order.display_checkout_text"></p>
        <hr class="mb-4">
        <input class="btn btn-primary btn-lg btn-block" type="submit" [value]="order.display_checkout_button">
      </div>
    </form>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2020 Company Name</p>
  </footer>
</div>
